a {
     color: rgb(150, 150, 144);
}
h1,h2  {
    color: rgb(113, 114, 101);
}
p {
    color:rgb(113, 114, 101)
}
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    padding: 8px;
  }
